In [1]:
import numpy as np
import pandas as pd
import sys

In [2]:
df = pd.read_csv('data/mimic3/DIAGNOSES_ICD.csv')

In [3]:
df[0:10]

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254
5    1302         109   172335      6.0      2762
6    1303         109   172335      7.0      7100
7    1304         109   172335      8.0      2767
8    1305         109   172335      9.0      7243
9    1306         109   172335     10.0     45829

In [4]:
import pickle as pkl
fh = open('inv_idx','rb')
inv_idx = pkl.load(fh)
fh.close()

inv_idx['nan'] = 284
adj = [[0]* 284]*284

In [5]:
count = 0
td = df[['HADM_ID','ICD9_CODE']]
for name, group in td.groupby('HADM_ID'):
    count += 1
    codes = group['ICD9_CODE'].values
    codes = [inv_idx[str(code)] for code in codes]
    for i in range(0,len(codes)):
        for j in range(i+1,len(codes)):
            x,y = codes[i], codes[j]
            adj[x][y] += 1
            adj[y][x] += 1

print(count)

58976

In [6]:
adj_c = []
for i in range(0,len(adj)):
    for j in range(0,len(adj[i])):
        if adj[i][j] == 0:
            continue
        else:
            adj_c.append(adj[i][j])

In [7]:
len(adj_c)

79804

In [11]:
adj_c.sort()
adj_c = np.array(adj_c)
Delta = np.mean(adj_c) + np.std(adj_c)

In [13]:
l = [val for val in adj_c if val > Delta]

In [15]:
coG = [[0]*284]*284
for i in range(0,284):
    for j in range(0,284):
        if adj[i][j] > Delta:
            coG[i][j] = 1
        else:
            coG[i][j] = 0

In [ ]:
num_classes = 284
for i in range(0,(num_classes)):
	for j in range(0,(num_classes)):
		if co_G[i][j] == 1 and not i==j:
			print(str(i)+"\t"+str(j))